@import "~bootstrap/scss/bootstrap.scss";

.container{
    width: 40%;
   
}
.center{
    text-align: center;
    color: aliceblue;
    width: 40%;
    margin:auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
         
    }
    .input color{

background: grey

    }


.float{

   float :right ;
}